body {
    background-color: #141414;
    padding-top: 200px;
}

.jumbotron h1 {
    color: #fff;
    font-size: 100px;
    font-family: 'Times New Roman', serif;
    vertical-align: middle;
    font-weight: 100;
}

.jumbotron {
   padding-left: 100px;
   background-color: #141414;
   color: #fff;
}

.navbar {
    border-radius: 0px;
    height: 188px;
    padding-left: 100px;
    padding-right: 100px;

}

nav img {
    height: 100%;
}

nav img:hover {
  opacity: 0.7;
}

.navbar a {
    height: 188px;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar button {
    height: 188px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Times New Roman", serif;
    font-size: 24px;
    padding-bottom: 0;
    color: #333;

}

.navbar button:hover {
  color: #eb1351 !important;
  text-decoration: none;

}

p {
   font-family: 'Times New Roman', serif;
   color: #fff;
   font-size: 24px; 
   text-transform: lowercase;
}

.about-content {
    width: 70%;
    padding-left: 100px;
    padding-top: 70px;
}

input {
  border-radius: 4px;
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  border:none;
  color: #141414;
}

textarea {
    width: 100%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    color: #141414;
}

.form-submit {
  font-family: Helvetica, Arial, sans-serif;
   color: #fff;
   font-size: 14px; 
   font-weight: lighter;
   width: 70%;
    padding-left: 100px;
    padding-top: 70px;
    padding-bottom: 70px;

}

#grouped {
  padding: 25px 15px 15px 0px;
}

.form-table-holder {
  padding-left: 100px;
    padding-top: 70px;
    padding-bottom: 70px;
}

#submit-button {
  background-color: #141414;
  color: #eb1351;
  width: 150px;
  height: 60px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 12px 20px;
  text-decoration: none;
  border: 2px solid #eb1351;
  border-radius: 6px;
  letter-spacing: 1.5px;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;


}

#submit-button:hover {
    background-color: #eb1351;
    color: white;
}



.easeIn {
  -webkit-animation-timing-function: ease-in; /* Safari 4.0 - 8.0 */
  animation-timing-function: ease-in;
  -webkit-animation-delay: 1.5s; /* Safari 4.0 - 8.0 */
    animation-delay: 1.5s;
}

.delay {
  -webkit-animation-delay: 5s; /* Safari 4.0 - 8.0 */
    animation-delay: 5s;
}
.fadeInUp {
  -webkit-animation-timing-function: ease-in; /* Safari 4.0 - 8.0 */
}

#contact-link {
   width: 77px;
   height: 57px;
}

#contact-link:hover {
   content: url('./img/left-field-envelope-inverted.png');
    width: 77px;
   height: 57px;
}

col-xs-6 {
  padding: none;
}

