body {
    background-color: #141414;
}

.jumbotron h1 {
    color: #fff;
    font-size: 100px;
    font-family: 'Times New Roman', serif;
    vertical-align: middle;
    font-weight: 100;
}

.jumbotron {
   padding-left: 100px;
   background-color: #141414;
   color: #fff;
}

.navbar {
    border-radius: 0px;
    height: 188px;
    padding-left: 100px;
    padding-right: 100px;

}

nav img {
    height: 100%;
}

button {
    font-family: "Times New Roman", serif;
}

.navbar a {
    height: 188px;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar button {
    height: 188px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Times New Roman", serif;
    font-size: 24px;
    padding-bottom: 0;

}

p {
   font-family: 'Times New Roman', serif;
   color: #fff;
   font-size: 24px; 
   text-transform: lowercase;
}

.about-content {
    width: 70%;
    padding-left: 100px;
    padding-top: 70px;
}

.form-submit {
  font-family: Helvetica, Arial, sans-serif;
   color: #fff;
   font-size: 16px; 
   font-weight: lighter;

}

.btn-danger {
  background-color: #eb1351;
  width: 150px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 5px;

}

